.content-meta {
  margin-top: 0;
<<<<<<< HEAD
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
=======
  color: var(--gray);

  &[show-comma="true"] {
    > span:not(:last-child) {
>>>>>>> 02f2423 (Initial commit)
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
