.content-meta {
  margin-top: 0;
<<<<<<< HEAD
<<<<<<< HEAD
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
=======
=======
>>>>>>> 18d4681c3fa99dd2d68f2b95767544223dcd8dfb
  color: var(--gray);

  &[show-comma="true"] {
    > span:not(:last-child) {
<<<<<<< HEAD
>>>>>>> 02f2423 (Initial commit)
=======
>>>>>>> 18d4681c3fa99dd2d68f2b95767544223dcd8dfb
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
