<<<<<<< HEAD
<<<<<<< HEAD
details.toc {
=======
details#toc {
>>>>>>> 02f2423 (Initial commit)
=======
details#toc {
>>>>>>> 18d4681c3fa99dd2d68f2b95767544223dcd8dfb
  & summary {
    cursor: pointer;

    &::marker {
      color: var(--dark);
    }

    & > * {
      padding-left: 0.25rem;
      display: inline-block;
      margin: 0;
    }
  }

  & ul {
    list-style: none;
    margin: 0.5rem 1.25rem;
    padding: 0;
  }

  @for $i from 1 through 6 {
    & .depth-#{$i} {
      padding-left: calc(1rem * #{$i});
    }
  }
}
