@use "./variables.scss" as *;

html[saved-theme="dark"] {
  color-scheme: dark;
}

html[saved-theme="light"] {
  color-scheme: light;
}

article {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-size: 1.15rem;
}

footer p {
  display: none;
}
